/* 
====================================================================
|                 SYSTEM CONFIGURATION
====================================================================
*/
includeConfig 'conf/base.config' 
includeConfig 'conf/modules.config' 


/* 
====================================================================
|                 WORKFLOW INPUT PARAMETERS
====================================================================
*/
params {
  inputFile = "./testdata/mydata.txt"
  resultsDir = "./results/"
}

