/* 
====================================================================
|                 SYSTEM CONFIGURATION
====================================================================
*/
includeConfig 'conf/base.config' 


/* 
====================================================================
|                 CUSTOM CONFIGURATION
====================================================================
*/
params {
  inputFile = "./testdata/mydata.txt"
  resultsDir = "./results/"
}

