/* 
====================================================================
|                 SYSTEM CONFIGURATION
====================================================================
*/
includeConfig 'conf/base.config' 
includeConfig 'conf/modules.config' 


/* 
====================================================================
|                 WORKFLOW INPUT PARAMETERS
====================================================================
*/
params {
  inputFile = "${launchDir}/testdata/mydata.txt"
  resultsDir = "${launchDir}/results/${ (new Date()).format("yyyy-MM-dd") }"
}

