// Default configuration
executor {
	name = 'local'
	cpus   = 4
	memory = 8.GB
}

process {
	executor = 'local'
	cpus = 2
	memory = 2.GB
	shell = ['/bin/bash', '-euo', 'pipefail']
}

// Export this variable to prevent local Python libraries 
// from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// PROFILE CONFIGURATIONS
profiles {

  // docker should be used whenever possible
  docker {
    docker.enabled = true
  }
  
  // workstation config, ideal for developing the pipeline
  workstation { 
	includeConfig 'workstation.config' 
  }

  // Son of Grid Engine configuration
  sge {
	includeConfig 'sge.config'
  }

  // GitHub actions configuration to run test pipeline
  ci {
	includeConfig 'ci.config'
  }

  // test profile defining some data
  test {
	includeConfig 'test.config'
  }
}

// configuring log information
timeline {
  enabled = true
  file = "logs/execution_timeline.html"
}

report {
  enabled = true
  file = "logs/execution_report.html"
}

trace {
  enabled = true
  file = "logs/execution_trace.txt"
}