// basic information about the workflow
manifest {
  name = '{{ cookiecutter.archetype_id }}'
  description = '{{ cookiecutter.archetype_description }}'
  version = '0.0.0'
  homePage = '{{ cookiecutter.archetype_git }}'
  author = '{{ cookiecutter.archetype_author }}'
  nextflowVersion = '>=20.07.1'
}

// Default configuration
executor {
	name = 'local'
	cpus   = 4
	memory = 8.GB
}

process {
	executor = 'local'
	cpus = 2
	memory = 2.GB
	shell = ['/bin/bash', '-euo', 'pipefail']
}

// Export this variable to prevent local Python libraries 
// from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// PROFILE CONFIGURATIONS
profiles {

  // docker should be used whenever possible
  docker {
    docker.enabled         = true
    docker.userEmulation   = true
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false

    // specify the container to be used
    process.container = "ghcr.io/{{ cookiecutter.archetype_org }}/{{ cookiecutter.archetype_id }}:v0.0.0"
  }
  
  singularity {
      singularity.enabled    = true
      singularity.autoMounts = true
      docker.enabled         = false
      podman.enabled         = false
      shifter.enabled        = false
      charliecloud.enabled   = false

      // specify the container to be used
      process.container = "docker://ghcr.io/{{ cookiecutter.archetype_org }}/{{ cookiecutter.archetype_id }}:v0.0.0"
  }

  // workstation config, ideal for developing the pipeline
  workstation { 
	includeConfig 'workstation.config' 
  }

  // Son of Grid Engine configuration
  sge {
	includeConfig 'sge.config'
  }

  // GitHub actions configuration to run test pipeline
  ci {
	includeConfig 'ci.config'
  }

  // test profile defining some data
  test {
	includeConfig 'test.config'
  }
}

// configuring log information
timeline {
  enabled = true
  file = "logs/execution_timeline.html"
}

report {
  enabled = true
  file = "logs/execution_report.html"
}

trace {
  enabled = true
  file = "logs/execution_trace.txt"
}