// basic information about the workflow
manifest {
  name = '{{ cookiecutter.archetype_id }}'
  description = '{{ cookiecutter.archetype_description }}'
  version = '0.0.0'
  homePage = '{{ cookiecutter.archetype_git }}'
  author = '{{ cookiecutter.archetype_author }}'
  nextflowVersion = '>=23.04.2'
}

// default configurations
executor {
	name = 'local'
	cpus   = 4
	memory = 8.GB
  queueSize = 5
}

process {
  executor = 'local'
  cpus = 1 
  memory = 2.GB
  shell = ['/bin/bash', '-euo', 'pipefail']
}

// Export this variable to prevent local Python libraries
// from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// profiles to setup runtimes, executors, and process resources
profiles {

    // architectures profiles
    amd64 {
      docker.runOptions = '--platform linux/amd64'
    }   

    // runtime environments
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    // provisioning profile
    wave {
        wave.enabled = true
        build.repository = 'ghcr.io/stracquadaniolab/wave'
    }

    // computing infrastructures

    // github ci 
    github {
        executor.name = 'local'
        executor.cpus   = 2
        executor.memory = 6.GB
        executor.queueSize = 5

        process.executor = 'local'
        process.cpus = 1
        process.memory = 2.GB
        process.shell = ['/bin/bash', '-euo', 'pipefail']
    }

    // lab hpc 
    hpc-cell {
        executor.name = 'slurm'
        executor.queueSize = 25

        process.executor='slurm'
        process.queue='compute'
        process.cpus = 1
        process.memory = 2.GB
        process.shell = ['/bin/bash', '-euo', 'pipefail']
    } 

    // profile containing dummy data to test the workflow
    test {
        params {
          resultsDir = "./results/"
          inputFile = "testdata/mydata.txt"
        }
    }

}

// configuring log information
report {
    enabled = true
    file = "logs/execution_report.html"
}