// basic information about the workflow
manifest {
  name = '{{ cookiecutter.artifact_id }}'
  description = '{{ cookiecutter.artifact_description }}'
  version = '0.0.0'
  homePage = '{{ cookiecutter.artifact_git }}'
  author = '{{ cookiecutter.artifact_author }}'
  nextflowVersion = '>=20.07.1'
}

// your workflow parameters
params {
  resultsDir = "./results/"
}

// include basic process configuration options
includeConfig 'conf/base.config' 

// specify the container to be used
process.container = "ghcr.io/{{ cookiecutter.artifact_org }}/{{ cookiecutter.artifact_id }}:v0.0.0"